/*通用样式*/
* {
	margin: 0;
	padding: 0;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	background-color: #fdfdfd;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
/*矢量图标*/
@font-face {
  font-family: 'iconfont';  /* project id 1315665 */
  src: url('http://at.alicdn.com/t/font_1315665_qb2fomerf2.eot');
  src: url('http://at.alicdn.com/t/font_1315665_qb2fomerf2.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1315665_qb2fomerf2.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1315665_qb2fomerf2.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1315665_qb2fomerf2.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1315665_qb2fomerf2.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 10px;
  font-style: normal;
  color: rgb(159,159,159);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*顶部*/
.top {
	width: 100%;
	font-size: 12px;
	background-color: #F9F9F9;
}
/*顶部  图片广告*/
.top-advertisement{
	width: 100%;
	height: 90px;
	overflow: hidden;
	position: relative;
	background: url(https://res.vmallres.com/pimages//pages/adsImages/cNtUJ707BrNpyUqZ38Z8.jpg) center center no-repeat;
}
/*关闭*/
.top-advertisement i {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 14px;
	left: 1340px;
	cursor: pointer;
}

/*顶部  导航 */
.top-nav {
	width: 1200px;
	line-height: 36px;
	margin: 0 auto;
	position: relative;
	z-index: 9;
}
/*清除浮动*/
.top-nav:after {
	content: '';
	display: block;
	clear: both;
}
.top-nav-left {
	width: 536px;
	float: left;
}
.top-nav-left .left-ul li {
	float: left;
}
.top-nav-left li a {
	color: #a4a4a4;
	padding: 0 6px;
	border-right: 1px solid #D3D3D3;
}
.top-nav-left li a:hover {
	color: #CF0A2C;
}
/*更多精彩*/
.top-nav-left .change-color {
	display: inline-block;
	padding: 0 8px;
}
.top-nav-left .color-red {
	color: #a4a4a4;
}
.change-color {
	position: relative;
}
.change-color:hover {
	background-color: #fff;
}
.change-color:hover .color-red {
	color: #CF0A2C;
}
/*鼠标放上去，向下变向上*/
.change-color i {
	display: inline-block;
}
.change-color:hover .chang-top {
	color: #CF0A2C;
	transform: rotate(-180deg);
}
.more-content {
	width: 120px;
	height: 145px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
	background-color: #fff;
	position: absolute;
	top: 36px;
	right: -16px;
	display: none;
	z-index: 1;
}
.change-color:hover .more-content {
	display: block;
}
/*更多精彩  内容*/
.more-content li {
	text-align: center;
}
.more-content li a {
	color: #a4a4a4;
	padding: 0 2px;
	border: none;
}

/*顶部  导航  右侧*/
.top-nav-right {
	float: right;
	width: 461px;
}
.top-nav-right li {
	float: left;
}
.top-nav-right a {
	color: #a4a4a4;
	padding: 0 6px;
	border-right: 1px solid #D3D3D3;
}
.top-nav-right .no-border {
	border: none;
}
.top-nav-right a:hover {
	color: #CF0A2C;
}
/*顶部  导航  右侧  客户服务*/
.top-nav-right>div {
	display: inline-block;
	height: 100%;
}
.service-content {
	width: 74.5px;
	height: 82px;
	background-color: #fff;
	position: absolute;
	top: 36px;
	right: 0;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
	z-index: 1;
	display: none;
}
.service-content  li {
	width: 74.5px;
	text-align: center;
} 
.service-content li a {
	color: #a4a4a4;
	padding: 0 2px;
	border: none;
}
.change-color:hover .service-content {
	display: block;
}
/*顶部  导航  右侧  网站导航*/
.site-navigation {
	width: 893px;
	height: 142px;
	background-color: #fff;
	position: absolute;
	top: 36px;
	right: 0;
	display: none;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
	z-index: 2;
}
.site-navigation .home {
	width: 50px;
	height: 73px;
	text-align: center;
	float: left;
	margin-left: 37px;
}
.site-navigation i {
	display: block;
	width: 50px;
	line-height: 50px;
	background-color: #F7F7F7;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
}
.site-navigation-nav {
	float: left;
	margin: 22px 0 0 50px;
}
.site-navigation-nav>ul>li {
	width: 185px;
	float: left;
}
.site-navigation-nav>ul>li li {
	width: 80px;
	height: 20px;
}
.site-navigation-nav li a {
	padding: 0;
	border: none;
}
.change-color:hover .site-navigation {
	display: block;
}
/*手机版 */
.phone-content {
	width: 244px;
	height: 392px;
	line-height: 1;
	background-color: #fff;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
	position: absolute;
	top: 36px;
	right: 0;
	display: none;
	z-index: 3;
}
.phone-content>div {
	height: 111px;
	border-bottom: 1px solid #E5E5E5;
	padding: 20px 0 0 20px;
}
.phone-content img {
	width: 90px;
	height: 90px;
	vertical-align: top;
	margin-right: 8px;
}
.phone-content-font {
	display: inline-block;
	width: 100px;
	height: 88px;
}
.phone-content-font p {
	margin: 8px 0;
}
.phone-content-font i {
	font-size: 30px;
}
.change-color:hover .phone-content {
	display: block;
}

/*购物车*/
.car {
	background-color: #F2F2F2;
	width: 75px;
	position: relative;
}
.car i {
	font-size: 12px;
	font-weight: bold;
}
.car-content {
	width: 460px;
	height: 230px;
	background-color: #fff;
	padding: 50px 0;
	box-sizing: border-box;
	text-align: center;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-left-radius: 12px;
	box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
	position: absolute;
	top: 36px;
	right: 0;
	font-size: 14px;
	color: #A4A4A4;
	display: none;
	z-index: 4;
}
.car-content i {
	display: block;
	width: 100px;
	line-height: 100px;
	border-radius: 50%;
	background-color: #F4F4F4;
	font-size: 50px;
	margin: 0 auto 10px;
}
.car:hover .car-content {
	display: block;
}
.car:hover .change-color {
	background-color: #fff;
	color: #CF0A2C;
}

/*中间部分*/
/*中间部分  顶部导航  左侧*/
.middle-top-nav {
	width: 1200px;
	height: 74px;
	margin: 0 auto;
	padding: 18px 0 0;
	background-color: #FCFCFC;
}
.middle-top-nav-left {
	width: 789px;
	line-height: 74px;
}
.middle-top-nav .logo img {
	width: 205px;
	height: 36px;
}
.middle-top-nav-left ul li {
	float: left;
	line-height: 50px;
	margin-right: 25px;
}
.middle-top-nav-left ul img {
	width: 74px;
	height: 24px;
	position: relative;
	top: 5px;
}
.middle-top-nav-left ul a {
	color: #333;
}
.middle-top-nav-left ul a:hover {
	color: #CF0A2C;
}
.middle-top-nav-left ul img:hover {
	opacity: .6;
}
/*中间部分  顶部导航  右侧input*/
.input input {
	line-height: 30px;
	margin-top: 10px;
	box-sizing: border-box;
	background-color: #F0F0F0;
	border: none;
	outline: none;
}
.input-left,
.input-right {
	position: relative;
}
.input-left input {
	width: 285px;
	padding-left: 20px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}
.input-left-font {
	position: absolute;
	top: 14px;
	left: 169px;
}
.input-left-font a {
	font-size: 12px;
	color: #999;
	padding-right: 4px;
}
.input-left-font a:hover {
	color: #000;
}
.input-left input:focus+.input-left-font {
	display: none;
}

.input-right input {
	width: 35px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}
.input-right .iconfont {
	font-size: 16px;
	color: #000;
	position: absolute;
	top: 16px;
	right: 11px;
}

/*中间部分 轮播图部分*/
.middle-banner {
	position: relative;
	height: 586px;
	overflow: hidden;
}
/*轮播图*/
.middle-banner .banner {
	width: 100%;
	height: 550px;
	position: absolute;
	z-index: -1;
}
.banner a {
	display: block;
	width: 100%;
	min-width: 1200px;
	height: 550px;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;
	position: absolute;
	background-repeat: no-repeat; 	
	background-position: 50%; 
	opacity: 0;
	transition: 1s;
}
.banner a:nth-of-type(1) {
	background-image: url("https://res.vmallres.com/pimages//pages/adsImages/uHXgfszqPA0ONhvvwfPU.jpg");
}
.banner a:nth-of-type(2) {
	background-image: url("https://res.vmallres.com/pimages//pages/adsImages/3OdzgGCZbWs4sIGWam4d.jpg");
}
.banner a:nth-of-type(3) {
	background-image: url("https://res.vmallres.com/pimages//pages/adsImages/iApLKiBAGdMCZtgXTiAw.png");
}
.banner a:nth-of-type(4) {
	background-image: url("https://res.vmallres.com/pimages//pages/adsImages/GkZkQ8vfc8mgEHhKlFXG.jpg");
}
.banner a:nth-of-type(5) {
	background-image: url("https://res.vmallres.com/pimages//pages/adsImages/5YoBNRdO0tXnWgovj1zp.jpg");
}
.banner a:nth-of-type(6) {
	background-image: url("https://res.vmallres.com/pimages//pages/adsImages/wOAbLP1Yz902UWzoWucW.jpg");
}
.banner a:nth-of-type(7) {
	background-image: url("https://res.vmallres.com/pimages//pages/adsImages/oPx8C0JcfVCDatRbYDAH.jpg");
}
.banner a:nth-of-type(8) {
	background-image: url("https://res.vmallres.com/pimages//pages/adsImages/FflKBrhRIPZI5uXzEbZP.jpg");
}
.banner .opacity-pic {
	opacity: 1;
}
/*<!--轮播图左右按钮-->*/
.banner-nav .banner-leftbutton,
.banner-nav .banner-rightbutton {
	width: 80px;
	height: 80px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: url(https://res8.vmallres.com/20190520/css/../images/echannel/icon/icon01.svg) no-repeat;
}
.banner-nav .banner-leftbutton  {
	background-position: 0 -72px;
	left: 203px;
    top: 181px;
}
.banner-nav .banner-rightbutton  {
	background-position: -80px -72px;
	left: 1132px;
    top: 189px;
}
.banner-nav .banner-leftbutton:hover {
	cursor: pointer;
	background-position: -240px -72px;
}
.banner-nav .banner-rightbutton:hover {
	cursor: pointer;
	background-position: -160px -71px;
}
/*轮播图小圆点*/
.banner-nav .banner-point {
	width: 190px;
	height: 12px;
	position: absolute;
	bottom: -2px;
	left: 1018px;
}
.banner-nav .banner-point ul {
	width: 190px;
	height: 12px;
	display: flex;
	justify-content: space-around;
}
.banner-nav .banner-point li {
	height: 12px;
	width: 12px;
	box-sizing: border-box;
	border: 1px solid #fff;
	border-radius: 50%;
}
.bg-write {
	background-color: #fff;
}
.banner-nav .banner-point li:hover {
	background-color: #fff;
}
/*导航*/
.banner-nav {
	width: 1200px;
	height: 440px;
	margin: 18px auto 0;
	position: relative;
}
.banner-nav ol {
	width: 200px;
	border-radius: 10px;
	background-color: #FDFBFB;
}
.banner-nav ol li {
	width: 200px;
	height: 74px;
	box-sizing: border-box;
	padding: 12px 0 13px 25px;
	border-bottom: 1px solid #E4E5E6;
}
.banner-nav ol li:nth-of-type(1) {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.banner-nav ol li:last-child(1){
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.banner-nav ol li div:nth-of-type(2) {
	margin-top: 8px;
}
.banner-nav ol li div:nth-of-type(2) a {
	font-size: 14px;
	color: #A6A6A6;
}
.banner-nav ol li div:nth-of-type(1) a {
	color: #848484;
}
.banner-nav ol li div a:hover {
	color: #CF0A2C;
}
.banner-nav ol li:hover {
	background-color: #fff;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/*<!--导航  hover手机展示内容-->*/
.display-none {
	display: none;
}
.banner-nav .phone {
	width: 824px;
	height: 443px;
	background-color: #fff;
	border-radius: 0 20px 20px 0;
	position: absolute;
	top: 0;
	left: 196px;
	display: flex;
	justify-content: space-around;
}
.phone-list-left,
.phone-list-middle,
.look-all {
	width: 204px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.display-none .phone-list-left li,
.display-none .phone-list-middle li,
.display-none .computer-list-left li  {
	border: none;
}
.phone-list-left img,
.phone-list-middle img,
.computer-list-left img {
	width: 56px;
	height: 56px;
	margin-right: 8px;
	vertical-align: middle;
}
.phone-list-left a,
.phone-list-middle a,
.computer-list-left a {
	display: inline-block;
	width: 180px;
	line-height: 70px;
	font-size: 12px;
	color: #777;
	border-radius: 12px;
}
.phone-list-left a:hover,
.phone-list-middle a:hover,
.computer-list-left a:hover {
	background-color: rgb(234,234,234);
}
/*查看全部*/
.look-all .all {
	width: 132px;
    height: 42px;
    margin-top: -312px;
    margin-left: 36px;
    border: 1px solid #f2f2f2;
    border-radius: 22px;
    font-size: 13px;
    color: #a7a7a7;
    display: block;
}
.look-all .all span {
	display: inline-block;
	width: 42px;
	line-height: 42px;
	border-radius: 50%;
	border: 1px solid #f2f2f2;
	margin: -1px 15px 0 -1px;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
	padding-left: 5px;
}
.banner-nav .display-phone:hover .display-none {
	display: block;
}
/*<!--导航  hover电脑展示内容-->*/
.banner-nav .computer {
	width: 235px;
	height: 443px;
	background-color: #fff;
	border-radius: 0 20px 20px 0;
	position: absolute;
	top: 0;
	left: 196px;
}
.computer .look-all {
	margin-top: 225px;
}
.banner-nav .display-computer:hover .display-none {
	display: block;
}
.computer-list-left {
	height: 300px;
	width: 204px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
/*<!--导航  hover手环手表展示内容-->*/
.banner-nav .display-bracelet:hover .display-none {
	display: block;
}

/*<!--中间 登录部分-->*/
.middle-login {
	width: 1200px;
	height: 88px;
	margin: 20px auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 26px rgba(0,0,0,0.07);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*<!--中间 登录部分  左侧登录-->*/
.middle-login-left {
	width: 270px;
	height: 52px;
	box-sizing: border-box;
	padding: 0 10px;
	border-right: 1px solid #EEEEEE;
	display: flex;
	justify-content: space-around;
}
.middle-login-left img {
	width: 52px;
	height: 52px;
}
.login-font-top {
	font-size: 14px;
	color: #999;
	margin-bottom: 5px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.login-font-top a,
.login-font-top span {
	color: #000;
}
.login-font-top a:hover {
	color: #D00D2F;
}
.login-font-bottom {
	width: 147px;
	height: 22px;
	display: flex;
	justify-content: space-around;
}
.login-font-bottom a {
	display: block;
	width: 68px;
    height: 22px;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    margin-right: 8px;
}
.login-font-bottom .new {
	background: #fff;
	color: #de5b60;
	border: 1px solid #e47b7f;
}
.login-font-bottom .new:hover {
	color: #fff;
    background: #de5b60;
    border-color: #de5b60;
}
.login-font-bottom .member {
	background: #595454;
    color: #fde4b3;
}
.login-font-bottom .member:hover {
	background: #333;
}
/*<!--中间 登录部分  中间小图片链接  企业购特惠-->*/
.middle-login-middle {
	width: 660px;
}
.middle-login-middle ul {
	width: 660px;
	height: 64px;
	display: flex;
	justify-content: space-between;
}
.middle-login-middle ul li {
	width: 104px;
	height: 64px;
	text-align: center;
}
.middle-login-middle div:nth-of-type(1) {
	width: 40px;
	height: 40px;
	margin: 0 auto 2px;
	background: url(https://res.vmallres.com/pimages//squaredInfo/icon/5/65b83ed001737b09607ad9ff1eb707b1.png) no-repeat 0 0/300px 40px ;
}
.middle-login-middle a .img2 {
	background-position: -40px 0;
}
.middle-login-middle a .img3{
	background-position: -80px 0;
}
.middle-login-middle a .img4 {
	background-position: -120px 0;
}
.middle-login-middle a .img5 {
	background-position: -160px 0;
}
.middle-login-middle a .img6 {
	background-position: -200px 0;
}
.middle-login-middle a {
	font-size: 12px;
	color: #777;
}
.middle-login-middle a:hover {
	color: #de5b60;
}
/*<!--中间 登录部分 右侧公告-->*/
.middle-login-right {
	width: 267px;
	height: 88px;
	border-radius: 0 10px 10px 0;
	border-left: 1px solid #EEEEEE;
}
.middle-login-right>div {
	width: 266px;
	height: 44px;
}
.middle-login-right-notice {
	border-radius: 0 10px 0 0;
	border-bottom: 1px solid #EEEEEE;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}
/*<!--中间 登录部分 右侧公告  上半部分-->*/
.middle-login-right-notice .notice {
	display: block;
	width: 60px;
	line-height: 44px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #777;
}
.middle-login-right-notice .notice-content {
	width: 200px;
	height: 215px;
	margin-top: 10px;
	transition: 1s;
}
.notice-content>div {
	height: 43px;
}
.notice-content a {
	font-size: 12px;
	color: #6f6f6f;
}
.notice-content a:hover {
	color: #de5b60;
}
/*<!--中间 登录部分 右侧公告  下半部分-->*/
.middle-login-right-bottom {
	display: flex;
	justify-content: space-between;
	border-radius: 0 0 10px 0;
}
.middle-login-right-bottom a {
	display: block;
	width: 89px;
	line-height: 44px;
	font-size: 12px;
	color: #666;
}
.middle-login-right-bottom a:hover {
	color: #de5b60;
}
.middle-login-right-bottom span {
	width: 20px;
	height: 20px;
	margin: -2px 0 0 10px;
	display: inline-block;
	vertical-align: middle;
	background: url(https://res.vmallres.com/pimages//squaredInfo/icon/5/65b83ed001737b09607ad9ff1eb707b1.png) no-repeat -240px 0px/300px 40px ;
}
/*实名认证*/
.middle-login-right-bottom .name {
	background-position: -260px 0px;
}
/*补购保障*/
.middle-login-right-bottom .guarantee {
	background-position: -280px 0px;
}
/*中间部分 图片展示部分*/
.middle-bottom {
	width: 100%;
}
.margin-center {
	width: 1200px;
	margin: 0 auto;
}
.four-pix {
	height: 200px;
	display: flex;
	justify-content: space-between;
}
.four-pix img {
	width: 290px;
	height: 200px;
	border-radius: 10px;
	transition: all .2s linear 0s;
}
.four-pix img:hover,
.sell-well-left img:hover,
.sell-well-right a:hover,
.phone-part-list a:hover {
	box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}
/*热销单品*/
.sell-well {
	height: 670px;
	margin: 0 auto;
}
h2 {
	color: #333;
	font-weight: 400;
	font-size: 26px;
}
.sell-well h2,
.compe-products h2 {
	height: 66px;
	box-sizing: border-box;
	padding: 27px 0 16px;
}
.sell-well-left img {
	width: 230px;
	height: 593px;
	border-radius: 10px;
	transition: all .2s linear 0s;
}
.sell-well-right {
	width: 956px;
	height: 593px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.sell-well-right a,
.phone-part-list a {
	width: 230px;
	height: 290px;
	border-radius: 10px;
	background-color: #F9F9F9;
	text-align: center;
	font-size: 14px;
	transition: all .2s linear 0s;
}
.sell-well-right a,
.compe-products-list a,
.phone-part-list a {
	display: block;
	position: relative;
}
.sell-well-right img,
.compe-products-list img,
.phone-part-list div+img {
	width: 150px;
	height: 150px;
	margin: 32px 0 12px;
}
/*热销单品  新品  爆品*/
.new-products {
	display: inline-block;
	line-height: 22px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 0 10px;
	border-radius: 0 0 6px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -22px;
}
.bg-color-blue {
	background-color: #68beff;
}
.bg-color-red {
	background-color: #FF6A6E;
}
/*热销单品  图片下方字体*/
.sell-well-right div:nth-of-type(2),
.phone-part-list div:nth-of-type(2) {
	color: #3a3a3a;
}
.sell-well-right div:nth-of-type(3),
.phone-part-list div:nth-of-type(3) {
	font-size: 12px;
	color: #777;
	margin: 3px 0 15px;
}
.sell-well-right div:nth-of-type(4),
.phone-part-list div:nth-of-type(4) {
	color: #d0021b;
}
/*精品推荐*/
.compe-products-list {
	height: 311px;
	overflow: hidden;
	position: relative;
}
.compe-products-list ul {
	width: 2400px;
	height: 295px;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	transition: 1s;
}
.compe-products-list ul li {
	width: 230px;
	height: 295px;
	text-align: center;
	font-size: 14px;
}
.compe-products-list li:nth-of-type(1) .new-products {
	margin-left: -34px;
}
.compe-products-list li div:nth-of-type(2) {
	height: 241px;
	border-radius: 10px;
	box-shadow: 0 1px 8px rgba(0,0,0,0.06);
}
.compe-products-list li div:nth-of-type(2) p {
	line-height: 36px;
	background-color: #f3f3f3;
    color: #777;
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
}
.compe-products-list a>p:nth-of-type(1) {
	color: #3a3a3a;
	margin: 9px 0 2px;
}
.compe-products-list a>p:nth-of-type(2) {
	color: #FF6A6E;
}
.compe-products-list a:hover .hover-shadow {
	box-shadow: ;
	box-shadow: 5px 0px 4px rgba(0,0,0,0.1),
				-5px 0px 4px rgba(0,0,0,0.1),
				0px -2px 4px rgba(0,0,0,0.1),
				0px 8px 4px rgba(0,0,0,0.1);
	transition: all .4s linear 0s;
}
.compe-products-leftarrow,
.compe-products-rightarrow {
	width: 36px;
	line-height: 72px;
	text-align: center;
	background-color: #F0F0F0;
	position: absolute;
	top: 26%;
	font-size: 20px;
	color: #393939;
}
.compe-products-leftarrow {
	left: 5px;
	border-radius: 0 8px 8px 0;
	display: none;
}
.compe-products-rightarrow {
	right: 5px;
	border-radius: 8px 0 0 8px;
}
.compe-products-leftarrow:hover,
.compe-products-rightarrow:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.18);
}

/*<!--中间部分 小轮播图部分-->*/
.middle-smallbanner {
	height: 120px;
	position: relative;
	margin: 20px 0 40px;
}
.middle-smallbanner a {
	position: absolute;
	opacity: 0;
	transition: 1s;
}
.middle-smallbanner .opacity-pic {
	opacity: 1;
}
.middle-smallbanner img {
	width: 1200px;
	height: 120px;
	border-radius: 10px;
}
.middle-smallbanner ul {
	width: 230px;
	height: 13px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	top: 103px;
	right: 5px;
}
.middle-smallbanner ul li {
	width: 12px;
	border: 1px solid #fff;
	border-radius: 50%;
}
.middle-smallbanner ul li:hover {
	background-color: #fff;
}
.middle-smallbanner .bg-write {
	background-color: #fff;
}
/*<!--手机展示部分-->*/
.phone-part {
	height: 1275px;
}
/*<!--手机展示部分  头部-->*/
.phone-part-title {
	line-height: 34px;
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	margin-bottom: 10px;
}
.phone-part-title h2 {
	width: 52px;
}
.phone-part-title-middle {
	width: 85%;
}
.phone-part-title-middle a {
	color: #999;
	margin-right: 20px;
}
.phone-part-title-right a {
	color: #333;
}
.phone-part-title-right i {
	font-size: 13px;
	color: #303030;
}
.phone-part-title-middle a:hover,
.phone-part-title-right a:hover {
	color: #FF6A6E;    
}
/*<!--手机展示部分  图片部分-->*/
.phone-part-list {
	height: 1200px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.phone-part-list .big-img {
	width: 230px;
	height: 290px;
	border-radius: 10px;
}
.phone-part-list .chang-margin {
	margin-left: -40px;
}
  
  
 /* <!--新人见面礼  图片-->  */
.middle-bottom-last-pic img {
	width: 1200px;
	height: 200px;
	border-radius: 10px;
}
/*底部*/
.bottom {
	width: 100%;
	background-color: #F9F9F9;
	margin-top: 60px;
}
.bottom-center {
	width: 1200px;
	margin: 0 auto;
}
/*底部  口号*/
.slogan-container {
	display: flex;
	justify-content: space-between;
}
.slogan-container div {
	width: 325px;
	height: 82px;
}
.slogan-container a {
	display: inline-block;
	height: 20px;
	margin-top: 20px;
	color: #3a3a3a;
	font-size: 18px;
}
.slogan-container i {
	display: inline-block;
	width: 45px;
	height: 45px;
	background: url(../img/slogan1.png) no-repeat 0 0/90% 90%;
	vertical-align: middle;
	margin-right: 20px;
}
.slogan-container div:nth-of-type(2) i {
	background-image: url(../img/slogan2.png);
}
.slogan-container div:nth-of-type(3) i {
	background-image: url(../img/slogan3.png);
}
.slogan-container div:nth-of-type(4) i {
	background-image: url(../img/slogan4.png);
}
/*购物相关*/
/*购物相关  左侧部分*/
.service-container {
	min-width: 1200px;
	height: 211px;
	border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 25px 0;
}
.service-container-left {
	width: 910px;
	height: 160px;
	border-right: 1px solid #e5e5e5;
	display: flex;
	justify-content: space-between;
}
.service-container-left ul {
	width: 153px;	
}
.service-container-left ul p {
	font-size: 14px;
	color: #333;
	padding-bottom: 7px;
}
.service-container-left ul li {
	margin: 2px 0;
}
.service-container-left a {
	font-size: 12px;
	color: #777;
}
.service-container-left a:hover {
	color: #C6434B;
}
.service-container-left i {
	color: #343434;;
	cursor: pointer;
}
/*购物相关  右侧部分*/
.service-container-right {
	width: 289px;
	height: 160px;
	text-align: center;
}
.service-container-right p {
	color: #575757;
	margin: 5px 0;
}
.service-container-right>a {
	display: block;
	width: 170px;
	line-height: 34px;
	margin: 10px auto 30px;
	text-align: center;
	border-radius: 17px;
	color: #fff;
	font-size: 14px;
	background: #333;
}
.service-container-right>a i {
	font-size: 17.5px;
	color: #fff;
	font-weight: bold;
}
.service-container-right>a:hover {
	background: #777;
}
.service-container-right>div {
	position: relative;
}
.service-container-right>div .iconfont {
	font-size: 22px;
	color: #303030;
	padding: 0 5px;
}
.service-container-right>div .iconfont:hover {
	color: #787878;
}
.service-container-right .code {
	position: absolute;
    top: 30px;
    left: 80px;
	width: 120px;
    height: 120px;
	background-color: #fff;
	width: 120px;
    height: 120px;
    box-shadow: 0 1px 5px rgba(158,158,158,0.6);
	display: none;
}
.service-container-right>div img {
	width: 108px;
	margin-top: 6px;
}
.service-container-right .sanjiao {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -5px;
	left: 56px;
}
.service-container-right .weixin:hover+div {
	display: block;
}
/*底部连接*/
.bottom-link {
	height: 114px;
	padding-top: 35px;
}
/*底部连接  左侧logo*/
.bottom-link .bottom-link-left {
	width: 102px;
}
.bottom-link-left img {
	width: 82px;
	height: 20px;
}
/*底部连接  中间连接部分*/
.bottom-link div {
	width: 743px;
	font-size: 12px;
	color: #a4a4a4;
}
.bottom-link ul {
	display: flex;
	justify-content: space-between;
}
.bottom-link ul a {
	color: #777;
	padding-right: 6px;
	border-right: 1px solid #d3d3d3;
}
.bottom-link a {
	color: #a4a4a4;
}
.bottom-link>div>div {
	margin: 5px 0;
}
.bottom-link a:hover {
	color: #ca151d;
}
/*底部连接  右侧图片链接*/
.bottom-link .bottom-link-right {
	width: 174px;
}
.bottom-link-right img {
	width: 70px;
	height: 24px;
}
.bottom-link-right a:nth-of-type(1) {
	margin-right: 17px;
}
/*右侧固定导航*/
.right-fexd {
	width: 38px;
	height: 166px;
	position: fixed;
	right: 0;
	bottom: 20px;
    z-index: 500;
    background-color: #fff;
}
.right-fexd a {
	display: block;
	line-height: 38px;
	text-align: center;
	font-size: 24px;
}
.right-fexd a:hover {
	 color: #333;
}
.right-fexd a:hover+div {
	display: block;
}
.right-fexd div {
	position: absolute;
    display: none;
    width: 76px;
    line-height: 36px;
    text-align: center;
    color: #777;
    font-size: 12px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
    left: -84px;
    margin-top: -38px;
}
.right-fexd a.back {
	display: none;
}
/*右侧固定导航之隐藏导航*/
.event-float {
	width: 100px;
	height: 308px;
	position: fixed;
	right: -100px;
	top: 43.1px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: .8s;
}
.event-float a {
	font-size: 12px;
	color: #999;
	float: right;
	margin-right: 10px;
}
.event-float a:hover {
	color: #333;
}
@media screen and (max-width: 1420px) {
	.event-float {
		display: none;
	}
}
